services:
  nvim:
    build: .
    working_dir: ${TARGET_PATH}
    volumes:
      - ${TARGET_PATH}:${TARGET_PATH}
      - ~/Documents/dotfiles/nvim:/root/.config/nvim
      - ~/.local/share/docker-nvim:/root/.local/share/nvim
      - ~/.local/state/docker-nvim:/root/.local/state/nvim
      - ~/.cache/docker-nvim:/root/.cache/nvim
      - ~/.config/github-copilot:/root/.config/github-copilot
      - ~/.gitconfig:/root/.gitconfig:ro
      - /run/host-services/ssh-auth.sock:/run/host-services/ssh-auth.sock
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - SSH_AUTH_SOCK=/run/host-services/ssh-auth.sock
    stdin_open: true
    tty: true

